/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 12pt;
 font-family: 'Times New Roman';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_BulletList /* Bullet List */
{
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_Continuation /* Continuation */
{
}
span.f_CourierFixed /* Courier Fixed */
{
 font-size: 9pt;
 font-family: 'Courier New';
}
span.f_FigureReferrer /* Figure Referrer */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 16pt;
 font-family: 'Arial Narrow';
 font-weight: bold;
}
span.f_Heading2_atoc_ /* Heading2_atoc_ */
{
 font-size: 13pt;
 font-family: 'Arial Narrow';
 font-weight: bold;
}
span.f_Heading3_atocs_ /* Heading3_atocs_ */
{
 font-family: 'Arial Narrow';
 font-weight: bold;
}
span.f_Image /* Image */
{
}
span.f_ImageCaption /* Image Caption */
{
 font-family: 'Arial Narrow';
}
span.f_ImageNumber /* Image Number */
{
 font-family: 'Arial Narrow';
 font-weight: bold;
}
span.f_Notes /* Notes */
{
}
span.f_Reference /* Reference */
{
}
span.f_Strong /* Strong */
{
 font-weight: bold;
}
span.f_TableCaption /* Table Caption */
{
 font-family: 'Univers 57 Condensed';
}
span.f_TableCell /* Table Cell */
{
}
span.f_TableHeader /* Table Header */
{
 font-family: 'Univers 47 CondensedLight';
 font-weight: bold;
}
span.f_TableImageCaption /* Table Image Caption */
{
 font-family: 'Arial Narrow';
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 10px 0px;
}
.p_BulletList /* Bullet List */
{
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
 margin: 0px 0px 0px 0px;
}
.p_Comment /* Comment */
{
}
.p_Continuation /* Continuation */
{
 text-indent: 12px;
}
.p_FigureReferrer /* Figure Referrer */
{
}
.p_Heading1 /* Heading1 */
{
}
.p_Heading2_atoc_ /* Heading2_atoc_ */
{
}
.p_Heading3_atocs_ /* Heading3_atocs_ */
{
}
.p_Image /* Image */
{
 text-align: center;
 margin: 0px 48px 19px 48px;
}
.p_ImageCaption /* Image Caption */
{
 text-align: center;
 margin: 0px 48px 19px 48px;
}
.p_ImageNumber /* Image Number */
{
 text-align: center;
 margin: 0px 48px 19px 48px;
}
.p_Notes /* Notes */
{
}
.p_Reference /* Reference */
{
 text-indent: -48px;
 margin: 0px 0px 10px 48px;
}
.p_Strong /* Strong */
{
}
.p_TableCaption /* Table Caption */
{
 text-align: center;
 margin: 10px 0px 5px 0px;
}
.p_TableCell /* Table Cell */
{
 margin: 0px 0px 0px 0px;
}
.p_TableHeader /* Table Header */
{
 text-align: center;
 margin: 0px 0px 0px 0px;
}
.p_TableImageCaption /* Table Image Caption */
{
 text-align: center;
 margin: 0px 0px 0px 0px;
}
